<div class="">
  <div ng-repeat="product in cart" class="system-selection-product-div">
    <img class="system-selection-image"
        src="https://upload.wikimedia.org/wikipedia/en/2/2e/Donald_Duck_-_temper.png" alt="">
    <div class="system-selection-product-title-div">
      manufacturer: {{ product.metal_manufacturer}}
      gauge: {{ product.metal_gauge}}
      color: {{ product.metal_color}}
      dimension a: {{ product.dimension_a}}
      dimension b: {{ product.dimension_b}}
      dimension c: {{ product.dimension_c}}
      dimension d: {{ product.dimension_d}}
      hem: {{ product.hem}}
      quantity: {{ product.qty}}
      additional Info: {{ product.add_info}}
  </div>
</div>
