<div class="jumbotron landing-jumbotron">
  <h1 class="display-3">Architectural Fabrications</h1>
  <p class="lead">Leader in metal fabrication</p>
  <hr class="my-4">
  <p>Click below to start your order</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="systemSelection" role="button">Products</a>
  </p>
</div>


<div class="jumbotron landing-jumbotron">
  <h1 class ="display-3">ABOUT</h1>
  <p class="about">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

</p>
</div>

<div class="jubmotron location">
  <h2 class="display-5 ">Location & Contact</h2>
  <br>
  <h3>1122 Dealy Plaza
    <br>
      Dallas, TX 75205</h3>
  <h3>###-###-####</h3>
</div>


<div class="footerNav">
    <a class="" ui-sref="systemSelection" role="button">Products</a>
</div>
